<div style="min-height: 80vh;">
    <div class="container_">
        <div class="my-row">
            <a style="margin: 0 auto" routerLink="../suivi-commandes">
                <img class="rounded-circle" src="assets/button0.png" alt="EDISuivi Icon" width="250" height="250">
            </a>
            <a style="margin: 0 auto" routerLink="../support-interne">
                <img class="rounded-circle" src="assets/button1.png" alt="EDISuivi Icon" width="250" height="250">

            </a>
            <a style="margin: 0 auto" href="#unavailable">
                <img class="rounded-circle" src="assets/button2.png" alt="EDISuivi Icon" width="250" height="250">
            </a>
        </div>
    </div>

</div>