<div style="min-height: 80vh;">
    <div class="container_">
        <div  style="padding: 20px;" class="my-row">
            <a style="margin: 0 auto" routerLink="../suivi-commandes">
                <!-- <div class="container_ diamond-shape">
                    <div class="item-count">Suivi Commandes</div>
                </div> -->
                <img class="rounded-circle" src="assets/button0.png" alt="EDISuivi Icon" width="250" height="250">
            </a>
            <a style="margin: 0 auto" routerLink="../suivi-factures">
                <!-- <div class="container_ diamond-shape">
                    <div class="item-count">Suivi Factures</div>
                </div> -->
                <img class="rounded-circle" src="assets/button3.png" alt="EDISuivi Icon" width="250" height="250">
            </a>
            <a style="margin: 0 auto" routerLink="../suivi-stocks">
                <!-- <div class="container_ diamond-shape">
                    <div class="item-count">Suivi<br>Stocks</div>
                </div> -->
                <img class="rounded-circle" src="assets/button4.png" alt="EDISuivi Icon" width="250" height="250">
            </a>
        </div>

        <div style="padding: 20px;" class="my-row">
            <a style="margin: 0 auto" routerLink="../support-interne">
                <!-- <div class="container_ diamond-shape">
                    <div class="item-count">Support</div>
                </div> -->
                <img class="rounded-circle" src="assets/button1.png" alt="EDISuivi Icon" width="250" height="250">
            </a>
            <a style="margin: 0 auto" routerLink="../settings">
                <!-- <div class="container_ diamond-shape">
                    <div class="item-count">Paramètres</div>
                </div> -->
                <img class="rounded-circle" src="assets/button2.png" alt="EDISuivi Icon" width="250" height="250">
            </a>
        </div>
    </div>
    
</div>
