.my-row{
    display: flex;
    flex-wrap: wrap;
}
.container_ {
    margin: 100px auto 0px auto;
    text-align: center; 
    width: '100%';
}

@media (max-width: 1200px){
    .container_{
        max-width: 1140px;
    }
}

@media (max-width: 992px){
    .container_{
        max-width: 960px;
    }
}

@media (max-width: 768px){
    .container_{
        max-width: 720px;
    }
}

@media (max-width: 576px){
    .container_{
        margin: 100px auto 0px auto;
        max-width: 400px;
    }
}