<div style="min-height: 80vh;">

    <!-- CMD Loading card -->
    <!-- <div id="main-content-loading" style="width: '100%';">
        <div style="text-align: center;">
            <p style="margin: 50px; font-size: 30px; font-weight: bold;">Chargement des commandes....</p>
        </div>
    </div> -->

    <div id="main-content-s-cmd" class="main-style borders-no-radius">
        <div class="main-header-container">
            <div class="my-row">
                <i class="fas fa-boxes" style="margin-right: 10px;"></i>
                <p>Liste des commandes ({{total_cmds}})</p>
            </div>
            <div class="row ml-auto">       
                
                <div class="col-sl my-row">
                    <button class="pages" style="margin: auto 1px;" (click)="loadPreviousPage()"><i class="fas fa-angle-left fa-lg"></i> Précédente</button>
                    
                    <p id="page-current-all" style="margin: auto 3px;">NaN/NaN</p>
                    
                    <button class="pages" style="margin: auto 1px;" (click)="loadNextPage()">Suivant <i class="fas fa-angle-right fa-lg"></i></button>
                </div>
    
                <form [formGroup]="this.commandeService.limitForm" class="col-sl" style="margin: auto 20px;">
                    <select id="_cmdListNb_" formControlName="limit">
                        <option *ngFor="let page of tt_pages_" value="{{page.value}}">{{page.value}}</option>
                    </select>
                    <button id="btn-one" class="pages" style="margin: 0px 0px 0px 10px;" type="submit" (click)="getOrderByLimit()"><i class="fas fa-search fa-lg"></i></button>
                </form>
            </div>
        </div>
    
        <div id="main-cmds">
            <div id="main-cmd-content">
    
                <table class="cmd-table" style="max-height: 600px;">
                    <thead class="cmd-table-thead">
                        <tr class="cmd-table-tbody-tr">
                            <th class="table-cell" >Référence</th>
                            <th class="table-cell" >Saisie le</th>
                            <th class="table-cell" >Date de livraison</th>
                            <th class="table-cell" >Code Postal</th>
                            <th class="table-cell" >Ville</th>
                            <th class="table-cell" >Total TTC</th>
                            <th class="table-cell" >Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cmd-table-tbody-tr" *ngFor="let order of orders">
                            <td class="table-cell" ><a style="margin: auto;" routerLink="../suivi-commande-detail/{{order.rowid}}">{{order.ref}}</a></td>
                            <td class="table-cell" >{{order.date_creation}}</td>
                            <td class="table-cell" >{{order.date_livraison}}</td>
                            <td class="table-cell" >{{order.zip}}</td>
                            <td class="table-cell" >{{order.town}}</td>
                            <td class="table-cell" >{{order.total_ttc}}</td>
                            <td class="table-cell" > <span >{{order.statut}}</span> </td> <!-- ngStyle="{'background-color': 'red'}" 'padding': '1px 5px 1px 5px'-->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="main-cmd-loading">
                
            </div>
            <div id="main-cmd-error">
                
            </div>
        </div>
    </div>
</div>