<!-- <div style="position: relative; min-height: 100vh;"> -->
    <!-- <header>
        <app-header></app-header>
    </header>
    
    <div style="padding: 10px; background-color: #eeeeee; padding-bottom: 80px;">
        <router-outlet></router-outlet>
    </div>
    
    <footer style="text-align: center;">
        <app-footer></app-footer>
    </footer>  -->
    <!-- <p>Hello Home</p> -->


    <div class="wrapper">
        <div class="sidebar" data-color="default">
            <app-sidebar></app-sidebar>
        </div>
        <div class="main-panel">
            <app-navbar></app-navbar>
            <!-- <app-header></app-header> -->
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </div>

<!-- </div> -->

