.my-row{
    /* display: flex; */
    flex-wrap: wrap;
}

#panel-header-empty {
    width: '100%';
    height: 65px;
    padding: 0;
}

#content{
    background-color: #ffffff;
    margin-top: 100px;
}